<!DOCTYPE html>
<html lang="en" class="scroll-smooth scroll-pt-20">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/output.css">
</head>
<body>
    <!-- Sticky Navbar -->
    <div class="navbar-03 sticky top-0 p-2 px-5 flex items-center  w-full gap-2 bg-white h-18 overflow-hidden overflow-x-scroll no-scrollbar shadow-[0_1px_1px_-1px_#000] z-40">
        <div class="nav-links flex justify-between gap-3 w-full">
            <div class="search-bar flex items-center  flex-col justify-center gap-1 p-1 rounded-xs shrink-0">
                <h2>All Categories</h2>
            </div>
            <div class="cart flex items-center justify-center gap-5 p-2">
                <div class="icons"><a href="#"><img src="/image/home (2).png"  class="w-6 h-6"></a></div>
                <div class="icons"><a href="#"><img src="/image/cart.png"  class="w-6 h-6"></a></div>
            </div>
        </div>
    </div>
    <!-- Body -->
    <header class="px-1 flex items-center justify-center gap-10 w-full h-full overflow-hidden">
        <!--1st Row For Categories Design  -->
        <div class="row w-full flex h-full gap-1">
            <!-- 1st Left Column -->
            <div class="col-01 fixed left-0 top-18 bg-white w-1/5 h-[calc(100dvh-9rem)] p-2 flex items-center gap-3 flex-col overflow-y-auto no-scrollbar border-r border-slate-400 pb-10">
                <div class="category-items mt-3 flex flex-col items-center gap-[2px] border-b border-slate-400 pb-2">
                    <img src="/image/lamp1.webp" class="w-10 h-10 object-contain">
                    <p class="text-[10px]">Home</p>
                </div>
                <div class="category-items flex flex-col items-center gap-[2px] border-b border-slate-400 pb-2">
                    <img src="/image/newImages/groceryItem.webp" class="w-10 h-10 object-contain">
                    <p class="text-[10px]">Grocery</p>
                </div>
                <div class="category-items flex flex-col items-center gap-[2px] border-b border-slate-400 pb-2">
                    <img src="/image/newImages/beauty1.webp" class="w-10 h-10 object-contain">
                    <p class="text-[10px]">Beauty</p>
                </div>
                <div class="category-items flex flex-col items-center gap-[2px] border-b border-slate-400 pb-2">
                    <img src="/image/watch1.webp" class="w-10 h-10 object-contain">
                    <p class="text-[10px]">Gadgets</p>
                </div>
                <div class="category-items flex flex-col items-center gap-[2px] border-b border-slate-400 pb-2">
                    <img src="/image/newImages/couple1.webp" class="w-10 h-10 object-contain">
                    <p class="text-[10px]">Fashion</p>
                </div>
                <div class="category-items flex flex-col items-center gap-[2px] border-b border-slate-400 pb-2">
                    <img src="/image/phone2.webp" class="w-10 h-10 object-contain">
                    <p class="text-[10px]">Mobiles</p>
                </div>
                <div class="category-items flex flex-col items-center gap-[2px] border-b border-slate-400 pb-2">
                    <img src="/image/newImages/furniture1.png" class="w-10 h-10 object-contain">
                    <p class="text-[10px]">Furniture</p>
                </div>
                <div class="category-items flex flex-col items-center gap-[2px] border-b border-slate-400 pb-2">
                    <img src="/image/newImages/electronic1.png" class="w-10 h-10 object-contain">
                    <p class="text-[10px]">Electrnics</p>
                </div>
                <div class="category-items flex flex-col items-center gap-[2px] border-b border-slate-400 pb-2">
                    <img src="/image/newImages/books1.webp" class="w-10 h-10 object-contain">
                    <p class="text-[10px]">Books</p>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-01 fixed left-[20%] w-[calc(100%-20%)] h-[calc(100dvh-9rem)] no-scrollbar pl-3 p-3 overflow-y-scroll pb-20 flex flex-col gap-5">
                <div class="items-container-01 flex flex-col my-4 gap-2">
                    <div class="item-header-02 ">
                        <h2 class="text-xs font-semibold">New & Upcoming Products</h2>
                    </div>
                    <!-- New Upcoming Product Container -->
                     <div class="item-section flex flex-wrap gap-2 justify-evenly ">
                        <div class="items-01 flex flex-col items-center overflow-y-scroll no-scrollbar  ">
                            <div class="item-img relative overflow-hidden">
                                <img src="/image/phone4.webp" class="w-20 h-20 object-contain rounded-[5px] bg-slate-300 p-2 shrink-0 "> 
                                <p class="buy-effect absolute -left-10 bottom-1 z-[1] h-5 w-full pointer-events-none animate-reflect bg-gradient-to-r from-transparent via-white/40 to-transparent duration-300"></p>
                                <p class="absolute bottom-1 bg-green-700 w-full h-5 text-center text-white text-[13px] -z-0">Buy Now</p>
                            </div>
                            <p class="text-xs">Poco C85x 5G</p>
                        </div>
                        <div class="items-01 flex flex-col items-center overflow-y-scroll no-scrollbar  ">
                            <div class="item-img relative overflow-hidden">
                                <img src="/image/phone2.webp" class="w-20 h-20 object-contain rounded-[5px] bg-slate-300 p-2 shrink-0 "> 
                                <p class="buy-effect absolute -left-10 bottom-1 z-[1] h-5 w-full pointer-events-none animate-reflect bg-gradient-to-r from-transparent via-white/40 to-transparent duration-300"></p>
                                <p class="absolute bottom-1 bg-green-700 w-full h-5 text-center text-white text-[13px] -z-0">Buy Now</p>
                            </div>
                            <p class="text-xs">Realme P4x 5G</p>
                        </div>
                        <div class="items-01 flex flex-col items-center overflow-y-scroll no-scrollbar  ">
                            <div class="item-img relative overflow-hidden">
                                <img src="/image/phone3.webp" class="w-20 h-20 object-contain rounded-[5px] bg-slate-300 p-2 shrink-0 "> 
                                <p class="buy-effect absolute -left-10 bottom-1 z-[1] h-5 w-full pointer-events-none animate-reflect bg-gradient-to-r from-transparent via-white/40 to-transparent duration-300"></p>
                                <p class="absolute bottom-1 bg-green-700 w-full h-5 text-center text-white text-[13px] -z-0">Buy Now</p>
                            </div>
                            <p class="text-xs">Oppo A6c 5G</p>
                        </div>
                        <div class="items-01 flex flex-col items-center overflow-y-scroll no-scrollbar  ">
                            <div class="item-img relative overflow-hidden">
                                <img src="/image/phone3.webp" class="w-20 h-20 object-contain rounded-[5px] bg-slate-300 p-2 shrink-0 "> 
                                <p class="buy-effect absolute -left-10 bottom-1 z-[1] h-5 w-full pointer-events-none animate-reflect bg-gradient-to-r from-transparent via-white/40 to-transparent duration-300"></p>
                                <p class="absolute bottom-1 bg-green-700 w-full h-5 text-center text-white text-[13px] -z-0">Buy Now</p>
                            </div>
                            <p class="text-xs">Oppo A6c 5G</p>
                        </div>
                    </div>
                </div>

        <div class="recent-container  w-full h-50 md:h-75 shadow-2xs flex flex-col overflow-x-scroll overflow-y-hidden no-scrollbar">
                <div class="item-header-02 sticky left-0 left-0">
                    <h2 class="text-xs font-semibold">Recently Viewed Products</h2>
                </div>
            <div class="recent-product p-2 flex items-center gap-5">
                <div class="product bg-white w-25 md:w-50 md:h-55 p-1 flex items-center justify-center flex-col h-auto shrink-0 border border-slate-300">
                    <img src="/image/i phone17.webp" class="w-20 h-20 md:w-4/5 md:h-4/5 object-contain">
                    <div class="brand-name text-[10px] text-slate-600 mt-1">Apple</div>
                    <div class="category font-bold text-[11px]">Mobile</div>
                </div>
                <div class="product bg-white w-25 md:w-50 md:h-55 p-1 flex items-center justify-center flex-col h-auto shrink-0 border border-slate-300">
                    <img src="/image/tv1.webp" class="w-20 h-20 md:w-4/5 md:h-4/5 object-contain">
                    <div class="brand-name text-[10px] text-slate-600 mt-1">OnePlus</div>
                    <div class="category font-bold text-[11px]">Tv's</div>
                </div>
                <div class="product bg-white w-25 md:w-50 md:h-55 p-1 flex items-center justify-center flex-col h-auto shrink-0 border border-slate-300">
                    <img src="/image/lamp1.webp" class="w-20 h-20 md:w-4/5 md:h-4/5 object-contain">
                    <div class="brand-name text-[10px] text-slate-600 mt-1">Lamp</div>
                    <div class="category font-bold text-[11px]">Panda</div>
                </div>  
                <div class="product bg-white w-25 md:w-50 md:h-55 p-1 flex items-center justify-center flex-col h-auto shrink-0 border border-slate-300">
                    <img src="/image/watch1.webp" class="w-20 h-20 md:w-4/5 md:h-4/5 object-contain">
                    <div class="brand-name text-[10px] text-slate-600 mt-1">Hmt</div>
                    <div class="category font-bold text-[11px]">Watches</div>
                </div>                
            </div>
        </div>
            </div>
        </div>
    </header>
    <!-- Bottom Navbar -->
    <div class="navbar-03 fixed bottom-0 p-2 px-7 flex items-center w-full gap-2 bg-white h-20 overflow-hidden shadow-[0_-1px_5px_#000]">
            <div class="nav-links w-full flex items-center justify-between  md:justify-center md:gap-10">
                <div class="home flex items-center  flex-col justify-center gap-1 drop-shadow-black">
                    <div class="icons"><img src="/image/home (2).png"  class="w-4 h-4" alt="Home"></div>
                    <p class="text-xs">Home</p>
                </div>
                <div class="play flex items-center  flex-col justify-center gap-1 p-2">
                    <div class="icons"><img src="/image/play.png"  class="w-4 h-4"></div>
                    <p class="text-xs">Play</p>
                </div>
                <div class="categories flex items-center  flex-col justify-center gap-1 p-2">
                    <div class="icons"><img src="/image/app.png"  class="w-4 h-4"></div>
                    <p class="text-xs">Categories</p>
                </div>
                <div class="account flex items-center  flex-col justify-center gap-1 p-2">
                    <div class="icons"><img src="/image/User.png"  class="w-4 h-4"></div>
                    <p class="text-xs">Account</p>
                </div>
                <div class="product flex items-center  flex-col justify-center gap-1 p-2">
                    <div class="icons"><img src="/image/cart.png"  class="w-6 h-6"></div>
                    <p class="text-xs">Cart</p>
                </div>
            </div>
    </div>
    <!-- Script For Banner -->
     <script>
        let progress_container = document.querySelector(".bars");
        let slides = document.querySelector(".slides");
        let images = document.querySelectorAll(".images");
        let index = 0;
        let duration = 3000;

        images.forEach(()=>{
            const bar = document.createElement("div");
            bar.classList.add("bar");

            const progress = document.createElement("span");
            bar.appendChild(progress)
            progress_container.appendChild(bar)
        });
        const bars = document.querySelectorAll(".bar");
        function nextSlide(){
            bars.forEach(bar=>{
                bar.classList.remove("active-bar");
                bar.querySelector("span").style.width = "0";
            });

            index++;

            if(index >= images.length){
                index = 0;
            }
            slides.style.transform = `translateX(-${index * 110}%)`

            bars[index].classList.add("active-bar");
        }
        bars[0].classList.add("active-bar");

        setInterval(nextSlide, duration)
     </script>
</body>
</html>