@import "tailwindcss";

@utility no-scrollbar{
    /* firefox  */
    -ms-overflow-style: none;
    /* Edge and IE */
    scrollbar-width:none; 

    &::-webkit-scrollbar{
        /* Chrome and safari ,Opera */
        display: none;
    }
}
@utility active{
    @apply bg-linear-to-br from-teal-200 to-amber-100;
}
@utility bar{
    @apply w-1 h-1 rounded-2xl overflow-hidden duration-500 transition-all;
}

@layer utilities{
    .rounded-my{
        border-radius: 4px;
    }
    .bar{
        width: 10px;
        height: 4px;
        background: #aaa;
    }
    .bar.active-bar{ 
        width: 40px;
    }
    .bar span{
        display: block;
        width: 0;
        height:100%;
        background: #000;
    }
    .bar.active-bar span{
        animation: progress 3s linear forwards;
    }
    @keyframes progress {
        from{
            width: 0%;
        }
        to{
            width: 100%;
        }
    }
}